@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // border: 1px solid red;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-primary-light;

  color: #333;
  // color:  $color-bg-secondary-light-1;
  
}



.btn-m {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
      background-color: $color-primary-dark;
  }
}