
// .btn {
//   padding: 1.5rem 4rem;
//   border-radius: 100px;
//   cursor: pointer;
  
  
//   &-secondary {
//     background-color: transparent;
//     color: $color-bg-primary;
//     border: 1px solid $color-bg-primary;
//   }
//   &-primary {
//     background-color: $color-bg-primary;

//     border: none;
//   }
  
//   &-card{
//     border: 1px solid #fff;
//     background-color: transparent;
//     border-radius: 100px;
//     padding: 1rem 2rem;
//   }
// }
