.cta{
  border: 1px solid #333;
  padding: .4vw 2.5vw;
  text-transform: uppercase;
  font-family: inherit;
  font-size: clamp(.6rem, 1vw ,1.4rem);
  font-weight: 600;
  line-height: 2;
  color: $color-primary-dark;
  letter-spacing: 1.5px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  
  &:hover{
    background-color: $color-primary-light;
    &::after{
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border: 1px solid #333;
      // z-index: -1;
    }
  }
  
  &::after{
    content: '';
    display: block;
    padding: .4vw 2.5vw;
    width: 104%;
    height: 113.4%;
    border: 2px solid #333;
    position: absolute;
    top: .2rem;
    left: .2rem;
    transition: all .2s;
  }
  
  align-self: flex-start;
}