.app{
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;
}


.container {
  // max-width: 144rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10vw repeat(8, 1fr) 10vw;
  // grid-template-columns: [left-start] 50vw [left-end right-start] 50vw [right-end];
  
}

.home{
  grid-column: 1 / -1;
  
  display: grid;
  grid-template-columns: 10vw repeat(8, 1fr) 10vw;
  grid-template-rows: 12rem ;

  // grid-template-rows: 7.2rem  1fr max-content;
  // overflow-x: hidden;
  // row-gap: 0.5rem;
}

.home-content{
  grid-column: 1 / -1;
  
  display: grid;
  grid-template-columns: 10vw repeat(8, 1fr) 10vw;
}

.feature{
  grid-column: 1 / -1;
  
  display: grid;
  grid-template-columns: max-content 1fr  max-content;
  }
  
