%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.8rem;
    font-weight: 700;
    color: $color-primary-dark;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: clamp(2.2rem,3.8vw,4.8rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: $color-primary-dark;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-3 {
    @extend %heading;
    
    //  font-size: 4.4rem; // 2.9rem
     font-size: clamp(2.6rem,2vw,4.4rem);
     font-weight: 700;
     color: $color-primary-dark;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 2rem; //2rem
    font-weight: 300;
    color: $color-grey-light-2;
    
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-5 {
    @extend %heading;
    font-size: clamp(1rem, 1vw, 1.8rem);

    font-weight: 600;
    text-transform: uppercase;
}

.heading-6 {
    @extend %heading;
    font-size: 1.2rem; //2rem
    font-weight: 500;
    text-transform: uppercase;
    color: $color-primary-light;
}

p{
    color: $color-secondary;
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }