@import "var";
@import "base";
@import "typography";

@import "sidebar";
@import "header";
@import "realtors";
@import "features";
@import "story";
@import "homes";
@import "gallery";
@import "footer";
@import "components"; 
@import "navbar"; 
@import "layout"; 
@import "btn"; 
// @import "hero"; 
@import "whatsnew"; 
